body:not(.footer) {
    background: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
    text-align: center;
}

.title{
    padding: 8px;
    font-size: 50px;
    background-color: rgb(245, 205, 180);

}

.subtitle {
    margin-top: 70px;
    font-size: 30px;
}

.paragraph, p {
    font-size: 20px;
}

.paragraphSorted {
    font-size: 40px;
    color: rgb(23, 95, 19);
    font-weight: bold;
}

#inputName {
    border-radius: 8px;
    border: 1px solid #bebebe;
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 30px;
    padding: 10px;
}

.button {
    font-size: 22px;
    background-color: rgb(245, 205, 180);
    border: 1px solid #bebebe;
    border-radius: 8px;
    padding: 12px 20px;
    margin-left: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(240, 169, 125);
    border: 1px solid #888888;
}

#button_sort {
    background-color: rgb(249, 134, 63);
}

.footer {
    background-color: rgb(240, 178, 144);
    color: rgb(95, 94, 97);
    bottom: 0;
    width: 100%;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    font-size: 20px;

    position: fixed;
}

.footer a {
    margin-right: 10px;
}